body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TitleFont";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.otf");
}

h1{
    font-family: "TitleFont";
    font-size: 96pt;
}

h2{
    font-family: "Metamorphous", serif;
    font-size: 40pt;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40pt;
    font-style: normal;
}

h4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18pt;
    font-style: normal;
}

h5{
    font-family: "Metamorphous", serif;
    font-size: 24pt;
    font-weight: 400;
    font-style: normal;
}

.homeHeader{
    height: 100vh;
    background-image: url(../assets/img/homeHeader.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #fff;
    opacity: 65%;
    border: 1px solid #fff;
    border-radius: 40px;
}

.navbarLogo img{
    max-width: 270px;
    height: auto;
}

.navLinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navLinks a{
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 700;
}

#homeLink{
    color: #15d5f5;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    margin: 100px;
    color: #fff;
}

#heroText1{
    color: #e9ad1c;
    margin: 0px;
}

#heroText2{
    color: #e9ad1c;
    margin: 0px;
}

.adoptTeaser{
    height: 95vh;
    background-color: #002d68;
    background-size: cover;
    background-position: center;
    background-repeat: none;

    display: flex;
}

.adoptTeaserImage{
    margin-left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#beginYourJourney{
    color: #e9ad1c;
    margin: 0px;
    font-weight: 500;
}

.adoptTeaserH1{
    color: #fff;
    margin: 0px;
}

.adoptTeaserH2{
    color: #fff;
    margin: 0px;
}

.adoptTeaserText{
    color: #fff;
    padding: 20px;
    margin-left: 60px;
    margin-right: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adoptTeaserText button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #15d5f5;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.aboutTheCradle{
    height: 75vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: none;

    display: flex;
}

.aboutTheCradleImage{
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTheCradleText{
    padding: 20px;
    margin-left: 150px;
    margin-right: 140px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#theCradle{
    color: #50bfd7;
    margin: 0px;
}

#aSanctuary{
    color: #30004f;
    margin: 0px;
}

#aboutTheCradleParagraph{
    color: #676767;
    margin: 0px;
}

.feature{
    height: 110vh;
    background-color: #002d68;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pastFriends{
    color: #e9ad1c;
    margin: 0px;
    font-weight: 500;
}

.legendToHome{
    color: #fff;
    margin: 0px;
}

.successCards{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 110px;
    margin-right: 110px;

    display: flex;
    justify-content: center;
}

.successCard{
    padding: 8px;
    margin: 10px;

    display: flex;
    flex-direction: column;
}

#successCardImage{
    max-width: 280px;
    max-height: 280px;
    border-radius: 20px;
}

#successCardHeading{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#successCardParagraph{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12pt;
    font-weight: 300;
}

.featureText button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #15d5f5;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.footer{
    height: 40vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: #676767;
    margin-left: 50px;
    margin-right: 10px;
}

#footerLogo{
    max-width: 270px;
    height: auto;
    margin-bottom: 20px;
}

.socialMediaLinks img{
    max-width: 80px;
    height: auto;
    margin: 4px;
}

.footerDetails{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 12pt;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
}

#footerCompany{
    font-size: 14pt;
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 40px;
}

#socialMedia{
    font-size: 14pt;
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 20px;
}

.legal{
    font-size: 11pt;
    margin-left: 70px;
    margin-right: 140px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#rightsReserved{
    font-weight: 300;
}

.policy{
    display: flex;
    flex-direction: row;
}



.adoptHeader{
    height: 45vh;
    background-image: url(../assets/img/adoptHeader.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

#adoptLink{
    color: #15d5f5;
}

.adoptHeaderText{
    color: #fff;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.adoptInfo{
    height: 50vh;
    background-color: #002d68;
    background-size: cover;
    background-position: center;
    background-repeat: none;

    display: flex;
    align-items: center;
}

.adoptInfoText{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 130px;
}

#adoptInfoHeading{
    color: #e9ad1c;
}

.filter{
    height: 13vh;
    background-color: #e9ad1c;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filterContentLeft{
    margin-left: 100px;

    display: flex;
}

#filterText{
    margin-right: 200px;
}

.filterContentRight{
    margin-right: 100px;
    display: flex;
    align-items: center;
}

#show{
    margin-left: 30px;
    margin-right: 15px;
}

#six{
    background-color: #fff;
    opacity: 70%;
    color: #30004f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
}

#sortByDefault{
    background-color: #fff;
    opacity: 70%;
    color: #30004f;
    padding-left: 20px;
    padding-right: 90px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
}

